@import url("https://fonts.googleapis.com/css2?family=Inter&display=optional");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title{
  font-size: 2rem;
  letter-spacing: 1.5rem;
  transform: rotate(270deg);
  margin: auto -5rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px lightblue;
}