.homeContainer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  animation: fadeIn 1s ease;
}

.homeLeft, .homeRight{
  flex: 1;
}

.homeLeft{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.homeLeft h1{
  margin: 0.5rem auto;
}

.homeLeft span{
  display: inline-block;
  animation: wave 2.5s ease;
}

.homeLeft h2{
  animation: fadeIn 2s ease;
  letter-spacing: 0.5rem;
  opacity: 0.86;
}

.homeLeft h4{
  margin-top: 0.5rem;
  letter-spacing: 0.5rem;
}

.homeRight img{
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  animation: fadeIn 3s ease;
}

@keyframes wave {
  0%{
    transform: rotate(0);
  }
  25%{
    transform: rotate(45deg);
  }
  50%{
    transform: rotate(-45deg);
  }
  75%{
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(0);
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .homeContainer{
    flex-direction: column-reverse;
    text-align: center;
  }

  .homeLeft{
    align-items: center;
    font-size: 1rem;
  }

  .homeLeft h4{
    width: 70%;
  }

  .homeRight{
    margin-top: 2rem;
  }
}