.navbar{
  width: 100%;
  height: 64px;
  background-color: #222222EE;
  color: #DDD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
}


.navLogo{
  height: 64px;
  cursor: pointer;
}

.navContainer ul{
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.navContainer ul li {
  list-style: none;
  margin: 0 2rem;
  cursor: pointer;
  background-size: 300%;
  background-position: left;
  background-image: linear-gradient(45deg, #ffffff, #747474);
  background-clip: text;
  color: transparent;
  transition: all 0.5s ease;
}

.navContainer ul li:hover, .navContainer ul li:focus{
  background-position: right;
}

.mobileNavContainer{
  display: none;
}

/* Sidebar */

.navToggle{
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .navContainer{
    display: none;
  }
  
  .mobileNavContainer{
    display: block;
  }

  .mobileNavContainer ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #222;
    justify-content: center;
    align-items: center;
    top: -100vh;
    width: 100vw;
    opacity: 0;
    right: 0;
    height: fit-content;
    transition: all 0.5s ease;
  }

  .mobileNavContainer ul li{
    list-style: none;
    margin: 2rem;
    cursor: pointer;
    transition: all 0.25s ease;
    color:#FFF;
    width: 100%;
    text-align: center;
  }

  .mobileNavContainer ul.active{
    top: 44px;
    opacity: 100%;
  }
}