.projectSection{
  display: flex;
  align-items: center;
}

.projectContainer{
  display: flex;
  flex: 1;
  width: 100%;
}

.project{
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  width: 25vw;
  margin: 1rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .projectContainer{
    flex-direction: column;
  }
  
  .project{
    width: 90vw;
  }
}