.resume{
  transition: all 0.5s ease;
  height: 80vh;
  cursor: pointer;
  opacity: 0.9;
}

.resume:hover{
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .resume{
    max-width: 90vw;
  }
}